<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <property name="LOGS" value="${LOG_PATH:-./logs}"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %green(%d{HH:mm:ss.SSS}) %blue(%-5level) %red([%thread]) %yellow(%logger{15}) -
                %magenta([traceId=%X{traceId} spanId=%X{spanId}]) - %cyan(%msg%n)
            </pattern>
        </encoder>
    </appender>

    <springProfile name="default">
        <root level="INFO">
            <appender-ref ref="Console"/>
        </root>
        <logger name="com.maskilometros.backend"
                level="INFO"
                addActivity="false">
            <appender-ref ref="Console"/>
        </logger>
    </springProfile>
</configuration>